.modal {
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(4px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    width: 100%;
    max-width: 370px;
    padding: 10px 20px;
    height: auto;
    max-height: 450px;
    position: relative;
}

.modal-content .btn {
    display: block;
    margin-bottom: 32px;
}